.see__villa__btn {
  max-width: 200px;
  width: 100%;
  padding: 13px 0 13px 56px;
  color: #1d4ed8;
  background-color: #fff;
  border-radius: 32px;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Bruno Ace SC';
  &::before {
    content: '';
    position: absolute;
    background-image: url('../../assets/images/seeVillaContactBtn.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    right: calc(100% - 16px - 24px);
    z-index: 3;
  }
}
