.about__us {
  margin-top: 900px;
  background-image: linear-gradient(269.47deg, #0037d3 2.21%, #002282 97.11%),
    linear-gradient(269.47deg, #002aa0 2.21%, #00185a 97.11%);
  position: relative;
}

.about__us__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/about__us__bg.png');
  background-position: right;
  height: 779px;
}

.framer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__us__title {
  font-family: 'Bruno Ace SC';
  font-weight: 600;
  font-size: 56px;
  line-height: 70px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Bruno Ace SC';
  span {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
  }
}

.about__us__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.75;
  margin-bottom: 23px;
  max-width: 496px;
  width: 100%;
}

.about__us__bottom {
  padding-top: 500px;
}

.about__us__left {
  z-index: 1;
}

.about__us__right {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
}

.about__us__line__responsive {
  position: absolute;
  top: 0;
  left: calc(50% - 50px);
}

.about__us__bg {
  display: none;
}

@media screen and (min-width: 1540px) {
}

@media screen and (max-width: 1300px) {
  .about__us {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1205px) {
  .about__us__bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 285px);
    max-width: 570px;
    min-width: 280px;
    width: 100%;

    max-height: 750px;
    min-height: 280px;
    width: 100%;
  }

  .about__us {
    padding-bottom: 330px;
  }

  .about__us__inner {
    background-image: none;
    height: 598px;
  }
  .framer {
    align-items: inherit;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .about__us__right {
    width: 0;
  }
  .about__us__inner {
    height: 779px;
  }
}

@media screen and (max-width: 800px) {
  .about__us__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 580px) {
  .about__us__bg {
    max-width: 365px;
    max-height: 365px;
    left: calc(50% - 182.5px);
  }
  .about__us {
    padding-bottom: 85px;
  }
}

@media screen and (max-width: 525px) {
  .about__us__title {
    font-size: 44px;
    line-height: 50px;
  }

  .about__us__text {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 410px) {
  .about__us__title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 370px) {
  .about__us__title {
    font-size: 25px;
    line-height: 34px;
  }
  .about__us__bg {
    max-width: 280px;
    max-height: 280px;
    left: calc(50% - 140px);
  }
}

@media screen and (max-width:300px) {
  .about__us__bg {
    min-width: auto;
  } 
}