.villa__btn {
  display: block;
  width: 100%;
  max-width: 200px;
  margin:0 auto 0;
  padding: 15px 34px;
  font-family: 'Bruno Ace SC';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #381ddb;
  box-shadow: 0px 10px 30px rgba(56, 29, 219, 0.2);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    outline: 2px solid #381ddb;
    background: #fff !important;
    color: #381ddb;
  }

  i {
    margin-left: 15px;
  }
}
