.villa {
  position: relative;
  padding: 144px 0 100px;

  h2 {
    font-family: 'Bruno Ace SC';
    margin: 0 0 60px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #1b1c57;

    span {
      font-weight: 600;
      color: #fff;
      -webkit-text-stroke: 0.2px #1b1c57;
      -webkit-text-fill-color: transparent;
    }
  }
}

.grid {
  margin: 0 auto;
  margin-bottom: 65px;
  width: 90vw;
  height: auto;

  &__view {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__view:nth-child(even) {
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction: row-reverse;
  }

  &__view:nth-child(2),
  &__view:nth-child(4),
  &__view:nth-child(6) > &__img-box {
    .grid__inner {
      margin: 0 10px 0 0;
    }
  }

  &__inner {
    margin-left: 10px;

    .grid__box + .grid__box {
      margin-top: 1vw;
    }
  }

  .grid__img-box,
  .grid__box {
    position: relative;
  }

  .grid__img-box span,
  .grid__box span {
    position: absolute;
    bottom: -300px;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 40%;
    padding: 3vw;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.83) 73.44%
    );
    color: #fff;
    transition: all 0.3s ease;
  }

  .grid__img-box:hover span,
  .grid__box:hover span {
    bottom: 0;
  }

  .grid__img-box {
    overflow: hidden;
    height: 100%;
    border-radius: 24px;
  }

  .grid__box {
    overflow: hidden;
    height: 100%;
    border-radius: 24px;
  }

  div {
    img {
      width: 100%;
      height: auto;
      transition: all 0.7s ease;
      border-radius: 24px;
      cursor: zoom-in;
    }
  }

  &__inner {
    margin-left: 10px;

    div + div {
      margin-top: 1vw;
    }
  }
}

// IMG OPEN

.open-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  background-color: #1b1c5787;
}

.open {
  width: 600px !important;
  height: auto;
  transition: all 0.7s ease;
  cursor: zoom-out !important;
}

// IMG OPEN

@media screen and (min-width: 1250px) {
  .grid {
    width: 1100px;
  }
}

@media screen and (max-width: 690px) {
  .villa {
    h2 {
      font-size: 28px;
      line-height: 37px;
    }
  }
}

@media screen and (max-width: 620px) {
  .open {
    width: 450px !important;
  }
}

@media screen and (max-width: 470px) {
  .open {
    width: 350px !important;
  }
}

@media screen and (max-width: 576px) {
  .grid {
    width: 100%;
    max-width: 400px;

    &__view {
      flex-direction: column !important;

      .grid__inner {
        margin: 20px 0 0 0 !important;
      }
    }

    &__inner {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .villa {
    padding: 100px 0 80px;

    h2 {
      margin: 0 0 40px;
      font-size: 32px;
      line-height: 40px;
    }
  }

  .grid__inner {
    div + div {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 365px) {
  .villa {
    h2 {
      font-size: 25px;
      line-height: 34px;
    }
  }

  .open {
    width: 250px !important;
  }
}

@media screen and (max-width: 310px) {
  .villa__inner {
    h2 {
      margin-bottom: 20px;
    }
  }
}
