.villa {
  position: relative;
  padding: 144px 0 100px;

  h2 {
    font-family: 'Bruno Ace SC';
    margin: 0 0 60px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #1b1c57;

    span {
      font-weight: 600;
      color: #fff;
      -webkit-text-stroke: 0.2px #1b1c57;
      -webkit-text-fill-color: transparent;
    }
  }
}

.grid {
  margin: 0 auto;
  margin-bottom: 65px;
  width: 90vw;
  height: auto;

  &__view {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__view:nth-child(even) {
    margin-bottom: 30px;
    margin-top: 30px;
    flex-direction: row-reverse;
  }

  &__view:nth-child(2),
  &__view:nth-child(4),
  &__view:nth-child(6) > &__img-box {
    .grid__inner {
      margin: 0 10px 0 0;
    }
  }

  &__inner {
    margin-left: 10px;
    div + div {
      margin-top: 1vw;
    }
  }

  div {
    img {
      width: 100%;
      height: auto;
      transition: all 0.7s ease;
      border-radius: 48px;
      cursor: zoom-in;
    }
  }

  &__inner {
    margin-left: 10px;
    div + div {
      margin-top: 1vw;
    }
  }
}

// IMG OPEN

.open-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #1b1c5787;
  display: flex;
  align-items: center;
  justify-content: center;
}

.open {
  width: 700px !important;
  height: auto;
  cursor: zoom-out !important;
}

// IMG OPEN

@media screen and (min-width: 1250px) {
  .grid {
    width: 75.5vw;
  }
}

@media screen and (max-width: 690px) {
  .villa {
    h2 {
      font-size: 28px;
      line-height: 37px;
    }
  }
}

@media screen and (max-width: 576px) {
  .grid {
    width: 100%;
    max-width: 400px;

    &__view {
      flex-direction: column;
    }

    &__inner {
      margin-top: 20px;
      margin-left: 0;

      div + div {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .villa {
    padding: 100px 0 80px;

    h2 {
      margin: 0 0 40px;
      font-size: 32px;
      line-height: 40px;
    }
  }
}

// @media screen and (max-width: 465px) {
//   .villa__grid {
//     justify-content: space-evenly;
//     div {
//       width: 150px !important;
//       height: 150px !important;
//     }

//     div:nth-child(2) {
//       width: 150px !important;
//       height: 150px !important;
//       img {
//         width: 150px !important;
//       }
//     }
//   }
// }

@media screen and (max-width: 365px) {
  .villa {
    h2 {
      font-size: 25px;
      line-height: 34px;
    }
  }
}

// @media screen and (max-width: 350px) {
//   .villa__grid {
//     justify-content: space-between;
//     div {
//       width: 130px !important;
//       height: 130px !important;
//     }

//     div:nth-child(2) {
//       width: 130px !important;
//       height: 130px !important;
//       img {
//         width: 130px !important;
//       }
//     }
//   }
// }

@media screen and (max-width: 310px) {
  .villa__inner {
    h2 {
      margin-bottom: 20px;
    }
  }

  // .villa__grid {
  //   div {
  //     width: 120px !important;
  //     height: 120px !important;
  //   }

  //   div:nth-child(2) {
  //     width: 120px !important;
  //     height: 120px !important;
  //     img {
  //       width: 120px !important;
  //     }
  //   }
  // }
}
