.site-header__link {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #1b1c57;
  
  & + & {
    margin-left: 66px;
  }
}
