.site-header__link {
  display: inline-block;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #f0f3fd;
  background-color: #ffffff1a;
  border: 1px solid #ffffff4d;
  border-radius: 32px;
}
